@import './dark.scss';
@import './variable.scss';

* {
  padding: 0;
  margin: 0;
}

html body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

html {
  background-color: #d1d9dc;
}

ul {
  list-style-type: none;
}