html {
  --my: red;
  --my-c-normal: #666666;
  --my-c-deep: #444444;
  --my-c-shallow: #00000070;
  --my-bgc-normal: #f7f7f7;
  --my-bgc-deep: #fff;
  --my-bgc-shallow: #00000020;
  --my-active-color: #3182ff;
  --my-bgc-hover: #3182ff30;
  --my-bgc-hover-shallow: #777777;

}

html.dark {
  --my-c-normal: #ccc;
  --my-c-deep: #ffffff87;
  --my-c-shallow: #ffffff70;
  --my-bgc-normal: #3e4352;
  --my-bgc-deep: #343643;
  --my-bgc-shallow: #ffffff20;
  --my-active-color: #406aaa;
  --my-bgc-hover: #ffffff20;
  --my-bgc-hover-shallow: #ffffff10;
}